.feedback-form
	color: #fff
	font-size: 16px

	.form-label
		color: #fff

	&__textarea
		height: 150px

	&__btn
		border: 2px solid #fff
		background: transparent
		font-size: 14px
		padding-right: 50px
		padding-left: 50px
		margin: 0 auto
		display: block
		&:hover
			background: #fff
			color: $main-color
		&:focus
			background: #fff
			color: $main-color