.feedback
	position: relative
	background-image: url('../img/feedback-bg.jpg')
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
	background-attachment: fixed
	overflow: hidden
	&::after
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#000, 0.5)

	& > .container
		position: relative
		z-index: 1

	.section-header
		color: #fff