.order-metering
	max-width: 320px
	width: 320px
	h4
		margin: 0
		margin-bottom: 20px
		color: #000
		text-transform: uppercase
		text-align: center

.order-metering-form
	&__textarea
		height: 100px
	.btn
		width: 100%

	.g-recaptcha
		margin-left: -15px
		margin-bottom: 20px

#order
	transform: translateY(-50%)
	+transition

.fancybox-slide--current #order
	transform: translateY(0)

.note
	text-align: center
	font-size: 16px
	.err
		margin-bottom: 20px

.order-metering-phone
	padding-top: 20px
	text-align: center