.order-metering
	max-width: 320px
	width: 320px
	h4
		margin: 0
		margin-bottom: 20px
		color: #000
		text-transform: uppercase
		text-align: center

.order-metering-form

	&__textarea
		height: 100px

#order
	transform: translateY(-50%)
	+transition

.fancybox-slide--current #order
	transform: translateY(0)