.recommend-product

	&__img-wrapp
		margin-bottom: 20px

	&__title
		margin: 0
		margin-bottom: 10px

	&__link
		font-weight: 700
		color: #000
		text-transform: uppercase
		&:hover
			color: $accent
		&:focus
			color: $accent

	&__descr
		margin: 0
		margin-bottom: 25px
		color: $gray

	&__price
		font-weight: 700
		font-size: 20px
		color: #666