.special

	a
		display: block
		overflow: hidden
	&__item
		height: 185px
		background-repeat: no-repeat
		background-size: cover
		background-position: 50% 50%
		+transition
		&:hover
			transform: scale(1.1)
