// Colors
$main-color: #333
$accent: #e53935
$gray-lighten: #f6f6f6
$gray: #999

// Fonts
$main-font: 'PTSans', Arial, sans-serif
$second-font: 'Roboto', Arial, sans-serif

// Media Queries
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx)